@font-face {
  src: url('../assets/fonts/AlbertSans-Light.ttf');
  font-family: albert-sans;
}

@font-face {
  font-family: albert-sans-thin;
  src: url('../assets/fonts/AlbertSans-Thin.ttf');
}

:root {
  --nav-load-time: 300ms;
  --nav-link-load-time: 500ms;
  --article-load-delay: calc(var(--nav-link-load-time) + var(--nav-load-time));
  --moving-bg-img: -150px;
  --bg-color: #dfdfdf;
  --accent-color: #092442;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: albert-sans, sans-serif;
  background-color: var(--bg-color);
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
