.nameHead {
  width: 100%;
  padding: 10px 0;
  color: rgb(0, 0, 0);
  background-color: var(--bg-color);
  text-align: center;
  letter-spacing: 2px;
}

.nameHead h1 {
  margin-bottom: 5px;
  animation: article-load 300ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

.nameHead h3 {
  margin-top: -5px;
  animation: article-load 300ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
