.backgroundImg {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../assets/images/pexels-joyston-judah-933054.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center -150px;
  transition: background-position 0.1s ease-out;
}

.main {
  padding: 30px;
  padding-bottom: 150px;
  background-color: var(--bg-color);
  min-height: 500px;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1200px;
  width: 100%;
}
