.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  background-color: var(--bg-color);
  color: rgb(0, 0, 0);
  animation: nav-load var(--nav-load-time) ease-in;
}

.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav li {
  padding: 10px;
  margin: 0 10px;
  animation: nav-link-load var(--nav-link-load-time) ease-in var(--nav-load-time);
  animation-fill-mode: forwards;
  transform: scale(0);
}

.nav a {
  color: inherit;
  text-decoration: none;
  transition: text-shadow 0.2s ease;
}

.nav a:hover {
  text-shadow: 1px 1px 1px var(--accent-color);
}

.active {
  text-shadow: 1px 1px 1px var(--accent-color);
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
