.article {
  text-align: center;
}

.article h2 {
  animation: article-load 300ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
  margin-bottom: 10px;
}

.subtitle {
  animation: article-load 300ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
  font-size: medium;
  color: #666;
  margin-bottom: 30px;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
