.article {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.headshot {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 20px;
  animation: article-load 300ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

.article h2 {
  animation: article-load 300ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
  margin-bottom: 20px;
}

.article p {
  max-width: 55em;
  margin: 15px auto;
  line-height: 1.6;
  text-align: left;
  animation: article-load 300ms ease-in calc(var(--article-load-delay) + 200ms);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
