.socialMedia {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px 0;
  animation: article-load 300ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

.socialMedia a {
  display: inline-block;
}

.socialMedia img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}

.socialMedia img:hover {
  transform: scale(1.1);
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
